*{
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    text-align: center;
    
}

.questions{
    font-family: 'Helvetica';
    widows: 70vw;
    padding-left: 15vw;
    padding-right: 15vw;
    text-align: center;
    
}

.title{

    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    padding-top: 30vh;
}

.btn{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    width: 25vw;
    padding: 10px 20px; 
    margin: 20px;
    margin-top: 40px;
    border-radius: 50px;

}

#yes{
    background-color:rgb(238,32,45);
    color: whitesmoke;
}

#no{
    background-color: rgb(17, 17, 17);
    color: whitesmoke;
}

#Ofcourse{
    background-color: rgb(238,32,45);
    color: whitesmoke;
}

#Notsure{
    background-color: rgb(17, 17, 17);
    color: whitesmoke;
}

span{

    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-top: 10vh;

}

#questionTwo{
    display: none;
}

